img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
h2 {
	font-family: Lobster;
	font-size: 42px;
	margin-left: 1.66%;
	text-transform: uppercase;
	width: 30%;
	border-bottom: 3px solid rgba(10,10,10, 0.3);
	padding-bottom: 5px;
}
